.input-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-close-timer {
  display: flex;           
  align-items: center;     
  justify-content: center; 

  padding: 10px;
  background: transparent;
  border: 1px solid #ccc;
  cursor: pointer;
}


.input-wrapper input,
.input-wrapper button {
    padding: 10px 15px;
    
}

.timer {
      display: flex;
      gap: 10px;
      font-family: 'Arial', sans-serif;
      font-size: 10px;
      font-weight: bold;
      justify-content: center;
    }

    .timer {
        margin-top: 20px;
    }
    

    .timer span {
      min-width: 40px;
      text-align: center;
      font-size: 20px;
      gap: 20px
    }


    /* #datetime-picker, [data-start] {
      display: block;
      margin: 20px auto;
      padding: 10px 15px;
      font-size: 1rem;
    } */